h1{
    color:black;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color:black;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#intro-pag{
    color:white;
    text-align:initial;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background:linear-gradient(red, orange, red);
}
li{
    list-style-type: style none;
    display:block;
}
#intro-pag{
    color:white;
    text-align:initial;
    font-family:Helvetica;
}
a{
    text-decoration-line: none;
    color:rgb(255, 255, 255);
   
    font-family: 'Franklin Gothic Medium'; 
}
#space{
    color:black;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#pac{
    color:black;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#dk{
    color:black;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#mario{
    color:black;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
div.conteudo-padrao{
    text-align: center;;
    line-height: 2;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.conteudo-imagem{
    text-align: center;
    box-shadow: 50px 10px 10px black;
}